<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Se versiona solo este manifiesto (y los recursos de marca) porque el
         resto del andamiaje de Android lo regenera `flutter create`, que no
         sobrescribe archivos existentes. Aqui viven el nombre visible de la
         aplicacion y su icono, que la plantilla por defecto pondria como
         "topolux" con el logotipo de Flutter. -->
    <application
        android:label="TopoLux"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Tema mientras Flutter arranca; despues la propia app fija el
                 modo borde a borde y el color de las barras del sistema. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
